Dear {{name}},
<br />
<p>
  You have requested a password reset for your account at <strong>{{platform}}</strong>.
</p>

<p>
  To reset your password, please click on this link <a href="{{url}}">here</a>.
</p>
<p>
  If the link doesn't work, use this link directly in the browser:
</p>
<pre>{{url}}</pre>
<p>
  <strong>The link is valid for {{codeValidityInMinutes}} minutes.</strong>
</p>
<p>In case you didn't request a password reset, your account might have been compromissed. Hence we strongly advice you to inform our support team by email {{email}}.</p>
<p>
  Your <strong>{{platform}}</strong> team
</p>

