Dear {{name}},
<br />
<p>
  You have been invited by:
  <strong>{{username}}</strong>
  to join his video conferencing room
  <strong>{{roomname}}</strong>
  on the platform <strong>{{platform}}</strong>.
</p>

<p>
  To accept this invite please click on this link <a href="{{acceptUrl}}">here</a>.
</p>
<p>
  If the link doesn't work, use this link directly in the browser:
</p>
<pre>{{acceptUrl}}</pre>

<p>
  Your <strong>{{platform}}</strong> team
</p>
