Dear {{name}},
<br />
<p>
  Welcome to <strong>{{platform}}</strong>.
</p>

<p>
  To activate your account, please click on this link <a href="{{url}}">here</a>.
</p>
<p>
  If the link doesn't work, use this link directly in the browser:
</p>
<pre>{{url}}</pre>
<p>
  <strong>The link is valid for {{codeValidityInMinutes}} minutes.</strong>
</p>


<p>
  Your <strong>{{platform}}</strong> team
</p>
